
@{
    ViewBag.Title = "Catalog";
}

<div>
    <ul>
        <li>
            <div>
                <a href="ProductDetails/1"> Hitman 1</a>
                <ul class="list">
                    <li><img src="~/Content/Homeless.jpg" class="picChange"/></li>
                    <li>Name: Stephan Unemployed</li>
                    <li>Price: $37.25</li>
                </ul>
            </div>
        </li>
        <li>
            <div>
                <a href="ProductDetails/2"> Hitman 2 </a>
                <ul class="list">
                    <li><img src="~/Content/download.jpg" class="picChange"/></li>
                    <li>Name: Josh Krebs (No Relation)</li>
                    <li>Price: $103,562.13 + tax</li>
                </ul>
            </div>
        </li>
        <li>
            <div>
                <a href="ProductDetails/3">Hitman 3 - Hitman 72</a>
                <ul class="list">
                    <li><img src="~/Content/hitman47.jpg" class="picChange"/></li>
                    <li>Name: Agent 47<\li>
                    <li>Price: Cookies</li>
                </ul>
            </div>
        </li>
    </ul>
</div>
