
@{
    ViewBag.Title = "Home";
}

<body>
    <h3 class="missText">
        MISSON STATEMENT
    </h3>
    <p class="missText">
        Here at Hitman Emporium we only sell the finest hitmen that your money can buy. Want your neighbor dead because he did not return your lawn mower we are your guys. We strive to make sure our identity is kept secret you will never find a safer site to send someone to sleep with the fishes.
    </p>
    <p class="missText">
        CEO/Chairman of Production,
        Anon
    </p>
</body>